body {
  background: #272727;
  font-family: "Roboto", monospace;
  color: white;
}

.navbar-header {
  background-color: #272727 !important;
}

.logo {
  width: 90px;
}

.slider {
  display: flex;
  align-items: flex-end;
  width: 100%;
  background: rgb(45, 45, 45);
}

.slider-text {
  font-size: 24px;
}

.slider-button {
  border-radius: 4px;
  width: 160px;
  margin-top: 22px;
  outline: none;
  border: none;
  background: rgb(148, 98, 255);
  background: linear-gradient(
    165deg,
    rgba(148, 98, 255, 1) 0%,
    rgba(55, 123, 255, 1) 100%
  );
  transition: 0.7s;
}

.slider-button:hover {
  width: 177px;
}

.top-list-number {
  color: white;
  background: linear-gradient(90deg, #3d3152 -2.97%, #2c3752 102.97%);
  border-radius: 5px;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 27px;
}

.top-list-number-in {
  background: -webkit-linear-gradient(#9859ff, #377bff);
  -webkit-background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

.top-list-p {
  color: gray;
}

.top-list-boxes {
  justify-content: space-between;
}

.top-list-box {
  border-radius: 4px;
  width: 400px;
  height: 130px;
  background-color: white;
}

.pc {
  font-weight: 700;
  width: 22px;
  height: 22px;
  font-size: 16px;
  margin-top: 8px;
  color: #3d3d3d;
  border-radius: 25px;
  text-align: center;
}

.all-games {
  justify-content: space-between;
}

.all-games-box {
  background: white;
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .all-games-box {
    width: 120px;
    height: 120px;
  }
}

.game-img-top {
  overflow: hidden;
}

.game-img-top img {
  transition: transform 0.5s ease;
}

.game-img-top:hover img {
  transform: scale(1.1);
}

.firstThreeGamesDiv {
  width: 1392px;
}

.three-text {
  font-size: 22px;
  font-weight: 500;
  transition: 0.7s;
}

.three-text:hover {
  color: rgb(162, 162, 162) !important;
}

.my-swal-text {
  font-size: 12px;
}

.game-type {
  background-color: #1e4729;
  color: #5bff87;
  border-radius: 4px;
  margin-left: 12px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 14px;
  align-items: center;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.2s filter;
  filter: blur(7px);
}

.game__url {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.game__url:hover {
  background: #1d1d1d !important;
  border-radius: 5px;
  color: white !important;
}

.bar-img {
  position: absolute;
  max-width: 1290px;
}

.bar-text {
  z-index: 999;
  position: absolute;
  margin-top: 100px;
  margin-left: 42px;
}

.bar-text-2 {
  z-index: 999;
  position: absolute;
  margin-top: 140px;
  margin-left: 42px;
  background: -webkit-linear-gradient(#E14D2A, #FD841F);
  color: white;
  text-decoration: none;
  border-radius: 200px;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.bar-text-2:hover{
  color: rgb(255, 255, 255);
}

.thumbnail{
  width: 100%;
}